# Build artifacts
/build/
/firmware/
.git-backup/

# PRU outputs
*.out
*.obj
*.o
*.ko
*.fw

# DKMS / kernel junk (if any ends up in repo)
*.mod
*.cmd
*.symvers

# hexpru intermediate hex files
*.x*
*.dtbo
