{% extends "base.html" %}

{% block title %}Pika-pika Demo{% endblock %}

{% block content %}
{% include 'components/header.html' %}

<!-- Demo Chart Component -->
{% include 'components/chart.html' %}

{% include 'components/qr_code.html' %}

{% include 'components/highlights.html' %}
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>
<script src="{{ url_for('static', path='/js/chart_manager.js') }}"></script>
<script src="{{ url_for('static', path='/js/demo_chart.js') }}"></script>
{% endblock %}